.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.list > * {
  width: calc(50% - 2rem);
  padding: 0 0.5rem;
  border-right: 2px solid var(--color-border-divider);

  > button {
    padding: 1rem 0.5rem;
    text-align: left;
    width: 100%;
    border-top: 1px solid var(--color-border-divider);
  }

  &:hover {
    color: var(--color-blue-600);

    > button {
      text-decoration: underline;
    }
  }
}
