@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #061629;
  --color-secondary: #69737e;

  /**=========== blue color =========== **/
  --color-blue-000: #f4f8fb;
  --color-blue-010: #e9f1f6;
  --color-blue-020: #d0e0ec;
  --color-blue-030: #a8c7dc;
  --color-blue-040: #86b2d0;
  --color-blue-050: #4d8cb8;
  --color-blue-060: #216fa6;
  --color-blue-070: #1e6597;
  --color-blue-080: #174f76;
  --color-blue-090: #123d5b;

  /**=========== red color =========== **/
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;

  /**=========== emerald color =========== **/
  --color-emerald-600: #059669;
  --color-emerald-700: #047857;

  /** =========== default color =========== **/
  --color-border-divider: #e5e7eb;

  /** =========== z-index color =========== **/
  --z-index-backdrop: 999;
  --z--index-slider: 1000;
  --z--index-modal-backdrop: 1100;
  --z-index-modal: 2000;
}

@layer base {
  /**=========== Typography =========== */

  .h0 {
    @apply text-primary text-4xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply text-primary text-2xl font-bold md:text-3xl;
  }

  h2,
  .h2 {
    @apply text-primary text-xl font-bold md:text-2xl;
  }

  h3,
  .h3 {
    @apply text-primary text-lg font-bold md:text-xl;
  }

  h4,
  .h4 {
    @apply text-primary text-base font-bold md:text-lg;
  }

  body,
  td,
  .p {
    @apply text-primary text-base;
  }

  span {
    @apply text-secondary text-sm md:text-base;
  }
  /**======== Typography =========== */

  a {
    @apply text-blue-600 text-base md:text-lg font-medium hover:underline underline-offset-2;
  }
}
