@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #061629;
  --color-secondary: #69737e;
  --color-blue-025: #eef5ff;
  --color-blue-030: #bec4cc;
  --color-baby-blue: #b2cff5;
  --color-blue-primary: #1767ce;
}

@layer base {
  /**=========== Typography =========== */
  .h0 {
    @apply text-primary text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply text-primary text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply text-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply text-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply text-primary text-base font-bold md:text-lg;
  }

  body,
  td,
  .p {
    @apply text-primary text-sm md:text-base;
  }

  td {
    @apply text-secondary text-sm md:text-base;
  }
  /**======== Typography =========== */
}
