@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #061629;
  --color-secondary: #69737e;
  --color-off-white: #fffef6;

  /**=========== blue color =========== **/
  --color-blue-000: #f4f8fb;
  --color-blue-100: #e9f1f6;
  --color-blue-200: #d0e0ec;
  --color-blue-300: #a8c7dc;
  --color-blue-400: #86b2d0;
  --color-blue-500: #4d8cb8;
  --color-blue-600: #216fa6;
  --color-blue-700: #1e6597;
  --color-blue-800: #174f76;
  --color-blue-900: #123d5b;

  /**=========== red colors =========== **/
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;

  /**=========== emerald colors =========== **/
  --color-emerald-600: #059669;
  --color-emerald-700: #047857;

  /** =========== yellow/waring colors =========== **/
  --color-warning-50: #fdf8ef;
  --color-warning-100: #fbf2de;
  --color-warning-200: #f7e4be;
  --color-warning-300: #f4d79d;
  --color-warning-400: #f0c97d;
  --color-warning-500: #eab54c;
  --color-warning-600: #c48a17;
  --color-warning-700: #a37313;
  --color-warning-800: #825c0f;
  --color-warning-900: #62450b;

  /** =========== default color =========== **/

  --color-border-divider: #e5e7eb;

  /** =========== z-index color =========== **/
  --z--index-dropdown: 900;
  --z-index-backdrop: 950;
  --z--index-slider: 1000;
  --z--index-modal-backdrop: 1100;
  --z-index-modal: 2000;
}

@layer base {
  /**=========== Typography =========== */

  h1,
  .h1 {
    @apply text-blue-900 text-3xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply text-blue-900 text-2xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply text-blue-900 text-xl font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply text-primary text-lg font-bold md:text-xl;
  }

  body,
  td,
  .p {
    @apply text-primary text-base md:text-lg;
  }

  span {
    @apply text-secondary text-base;
  }
  /**======== Typography =========== */

  a {
    @apply text-blue-600 text-base md:text-lg font-semibold hover:underline underline-offset-2;
  }

  select,
  input {
    @apply p-2 rounded bg-white border border-gray-300;
  }

  label {
    @apply text-blue-600 font-semibold;
  }
}
