.list {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 48rem) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.list > * {
  padding: 0.5rem 0;
  margin-right: 1rem;
  border-right: 2px solid var(--color-border-divider);

  @media screen and (min-width: 48rem) {
    width: calc(50% - 1rem);
  }

  @media screen and (min-width: 64rem) {
    width: calc(33% - 1rem);
  }

  > a {
    text-align: left;
  }

  &:hover {
    color: var(--color-blue-600);

    > a {
      text-decoration: underline;
    }
  }
}
