.approvalBtn {
  padding: 0.75rem 1.25rem;
  font-weight: 500;
  border-radius: 0.5rem;
  min-width: 7rem;
}
.neutral {
  background-color: var(--color-blue-500);
}

.neutral:hover {
  background-color: var(--color-blue-600);
}

.positive {
  background-color: var(--color-emerald-600);
}

.positive:hover {
  background-color: var(--color-emerald-700);
}

.negative {
  background-color: var(--color-red-700);
}

.negative:hover {
  background-color: var(--color-red-800);
}
